/* =========================================
   PAGE SECTIONS
   Cover, Summary, Skills, About, Projects, Testimonials
   ========================================= */

/* Cover / Hero Section */
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-weight: 700;
    height: 100dvh;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (orientation: portrait) and  (max-width: 768px) {
    .cover {
        flex-direction: column;
        height: 100dvh;
        gap: 6rem;
    }
}

.coverText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    max-width: 100%;
    zoom: 1.2;
}

.coverText span {
    color: var(--flavorColor);
    zoom: 1.5;
}

.coverText :nth-child(1) {
    animation: renderLeft 1s ease-in-out;
}

.coverText :nth-child(3) {
    animation: renderUp 1s ease-in-out;
}

.coverText :nth-child(4) {
    animation: renderDown 1s ease-in-out;
}

.coverTextName {
    display: flex;
    align-items: baseline;
    gap: .5rem;
    overflow: hidden;
    text-align: left;
    border-right: .15em solid var(--flavorColor);
    white-space: nowrap;
    width: fit-content;
    animation: typing 2s steps(25, end), blink-caret 1s step-end infinite;
}

.coverTextName h1 span {
    color: var(--flavorColor);
    zoom: 1.5;
}

.coverButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.coverLanguages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    align-items: center;
    zoom: 0.8;
}

.languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    zoom: 1.25;
    gap: 1rem;
    animation: reveal 2s ease-in-out;
}

.language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    border-radius: .8rem;
}

.language svg {
    width: 4rem;
    height: 4rem;
    background-color: #e9e9e9;
    border-radius: .5rem;
    position: relative;
    padding: .5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.language svg:hover {
    background-color: var(--flavorColor);
    color: white;
}

.stack1 {
    animation: levitationstack 7s ease-in-out infinite;
    animation-delay: .1s;
}

.stack2 {
    animation: levitationstack 7s ease-in-out infinite;
    animation-delay: .2s;
}

.stack3 {
    animation: levitationstack 7s ease-in-out infinite;
    animation-delay: .3s;
}

.language1 {
    animation: levitation 7s ease-in-out infinite;
}

.language2 {
    animation: levitation 7s ease-in-out infinite;
    animation-delay: .1s;
}

.language3 {
    animation: levitation 7s ease-in-out infinite;
    animation-delay: .2s;
}

.language4 {
    animation: levitation 7s ease-in-out infinite;
    animation-delay: .3s;
}

.language5 {
    animation: levitation 7s ease-in-out infinite;
    animation-delay: .4s;
}

/* Summary / About Section */
.summary {
    display: grid;
    height: fit-content;
    grid-template-areas: "skills  aboutMe"
                       ;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    gap: 5rem;
    min-height: 100dvh;
    content-visibility: auto;
    contain-intrinsic-size: 100dvh;
    animation: reveal linear both ;
    animation-timeline: view();
    animation-range: entry 40% entry 60%;
}

@media (orientation: portrait) and (max-width: 768px) {
    .summary {
        grid-template-areas: "skills skills skills"
                            "aboutMe aboutMe aboutMe";
        padding: 2rem;
    }
    
    .summary :nth-child(1) {
        align-self: center;
    }
}

.skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    animation: renderLeft 1s ease-in-out;
}

.skills p {
    font-size: 1.5rem;
    padding-left: 1rem;
    border-left: .15em solid var(--flavorColor);
    font-weight: bold;
}

.skills .skillsDetails {
    font-size: 1rem;
    padding-top: .5rem;
    padding-left: 1.9rem;
    border-left: .2em solid var(--flavorColor);
    position: relative;
}

@media (orientation: portrait) and (max-width: 768px) {
    .skills li {
        position: relative;
        right: .74rem;
    }
}

.skills span {
    color: var(--flavorColor);
}

.skills svg {
    position: relative;
    top: .35rem;
}

.aboutMe {
    grid-area: aboutMe;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation: renderRight 1s ease-in-out;
    gap: 1rem;
    font-size: 1.5rem;
    width: 80%;
    justify-self: center;
}

.aboutMe span {
    color: var(--flavorColor);
}

.aboutMe h1 {
    font-size: 2rem;
}

.aboutMeNumbersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (orientation: portrait) and (max-width: 768px) {
    .aboutMeNumbersContainer {
        justify-content: space-evenly;
    }
}

.aboutMeNumbers {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min-content;
}

/* Main Soft Skills Section */

.mainSoftSkills {
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-height: 100dvh;
    align-items: center;
    content-visibility: auto;
    contain-intrinsic-size: 100dvh;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 40% entry 60%;
}
.mainSoftSkills li {
    position: relative;
    right: .1rem;
    zoom: .8;
}

.mainSoftSkillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Circular Progress Bar */
.circularProgress1 , .circularProgress2 {
    position: relative;
    height: 10rem;
    width: 10rem;
}
.circularProgress1 .outer , .circularProgress2 .outer {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 1.25rem;
}
.circularProgress1 .inner , .circularProgress2 .inner {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number {
    font-weight: 600;

    font-size: 1.5rem;
}
.circularProgress1 circle , .circularProgress2 circle {
    fill: none;
    stroke: var(--flavorColor);
    stroke-width: 20px;
    stroke-dashoffset: 472;
    animation: anime 2s linear forwards;
}
.circularProgress1 circle {
    stroke-dasharray: 472;
}
.circularProgress2 circle {
    stroke-dasharray: 350;
}
.circularProgress1 svg , .circularProgress2 svg {
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anime {
    100% {
        stroke-dashoffset: 0;
    }
}

/* All Projects Section */

.allProjects {
    grid-area: allProjects;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    min-height: 100dvh;
    content-visibility: auto;
    contain-intrinsic-size: 100dvh;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 40% entry 60%;
}
.allProjectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (orientation: portrait) and (max-width: 768px) {
    .allProjectsContainer {
        margin-top: 30rem;
    }
}

.allProjectsContainer span {
    color: var(--flavorColor);
}
.allProjectsContainer h1 {
    font-size: 2rem;
}
.allProjectsContainer p {
    font-size: 1.5rem;
}
.allProjectsItem ul {
    margin: .5rem 0 .5rem 0;
    zoom: 1.2;
}
.allProjectsContainer li {
    position: relative;
    right: .1rem;
    zoom: .8;
}
.allProjectsItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1rem;
}
.allProjectsItemImage {
    img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
    }
}
.prevImgButton, .nextImgButton {
    z-index: 1;
    position: absolute;
    background-color: #b8b8b8;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: .2rem;

}
.prevImgButton {
    margin-top: 4rem;
    margin-right: 17.5rem;
}
.nextImgButton {
    margin-top: 4rem;
    margin-left: 17.5rem;
}
.allProjectsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 45rem;
    background-color: #e9e9e9;
    border-radius: .5rem;
}
.allProjectsItemGenres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    width: 100%;
}

.viewProjectItemButton {
    z-index: 1;
    position: absolute;
    margin-top: 41.5rem;
    margin-right: 10rem;
}
.allProjectsItemDescription {
    margin-bottom: 1rem;
}
.allProjectsItem span {
    color: var(--flavorColor);
}
.allProjectsItemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

/* Featured Works & Projects Section */
.featuredWorks {
    grid-area: featuredWorks;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    margin-top: 12rem;
    margin-bottom: 12rem;
    flex-direction: column;
    align-items: center;
    content-visibility: auto;
    contain-intrinsic-size: 100dvh;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 40% entry 60%;
}

.featuredWorks span {
    color: var(--flavorColor);
}

.featuredWorks li {
    position: relative;
    right: .1rem;
    zoom: .8;
}

@media (orientation: portrait) and (max-width: 768px) {
    .featuredWorks li {
        right: .06rem;
    }
}
.projectPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    display: grid;
    grid-template-areas: "imageContainer infoContainer"
                        "prevNextButtons prevNextButtons";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    justify-self: center;
}

@media (orientation: portrait) and (max-width: 768px) {
    .project {
        grid-template-columns: 1fr;
        grid-template-areas: "imageContainer"
                            "infoContainer" 
                            "prevNextButtons";
        width: 90%;
        max-width: 100%;
        zoom: 0.8;
    }
}

.projectImageContainer {
    grid-area: imageContainer;
    animation: renderLeft 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 768px) {
    .projectImageContainer {
        align-items: center;
        width: 100%;
        zoom: 0.8;
    }
}

.projectImageMain {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (orientation: portrait) and (max-width: 768px) {
    .projectImageMain {
        justify-self: center;
    }
}

.projectImageMain img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: .5rem;
    border-radius: 1rem;
}

@media (orientation: portrait) and (max-width: 768px) {
    .projectImageMain img {
        width: 100%;
    }
}

.projectImageMini {
    display: flex;
    width: 100%;
}

.projectImageMini::-webkit-scrollbar {
    display: none;
}


.projectImageMiniItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.projectInfoContainer {
    grid-area: infoContainer;
    animation: renderRight 1s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (orientation: portrait) and (max-width: 768px) {
    .projectInfoContainer {
        width: 80%;
        justify-self: center;
    }
}

.projectDescription {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.technologies {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    justify-self: center;
}

.viewProjectButton {
    align-self: flex-start;
    justify-self: flex-end;
}

.projectPrevNextButtons {
    grid-area: prevNextButtons;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nextProjectButton, .prevProjectButton {
    height: 3rem;
    width: 3rem;
    padding: .4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nextProjectButton:hover, .prevProjectButton:hover {
    background-color: var(--flavorColor);
    color: #161616ff;
}

.projectDotButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.projectDotButtons button {
    height: .2rem;
    width: .2rem;
    padding: .3rem;
    border-radius: 50%;
    color: calc(1 - var(--flavorColor));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.projectDotButtons button:hover {
    background-color: var(--flavorColor);
    color: #161616ff;
}

/* Testimonials Section */
.testimonialsPage {
    grid-area: testimonials;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: renderRight 1s ease-in-out;
    gap: 1rem;
}

.testimonialsPage span {
    color: var(--flavorColor);
}

.testimonials {
    grid-area: testimonials;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 40% entry 60%;
    overflow-x: hidden;
    justify-self: center;
    margin-bottom: 5rem;
}

.testimonials span {
    color: var(--flavorColor);
}

.testimonials li {
    position: relative;
    right: .1rem;
    zoom: .8;
}

@media (orientation: portrait) and (max-width: 768px) {
    .testimonials li {
        right: .06rem;
    }
}

.testimonialsContainer {
    anchor-name: --testimonialsContainer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 75dvw;
    gap: 1rem;
}

@media (orientation: portrait) and (max-width: 768px) {
    .testimonialsContainer {
        width: 70dvw;
    }
}

.testimonialsButtonLeft, .testimonialsButtonRight {
    position: absolute;
    position-anchor: --testimonialsContainer;
    padding: 1rem;
    border-radius: 50%;
}
@media (orientation: portrait) and (max-width: 768px) {
    .testimonialsButtonLeft, .testimonialsButtonRight {
        padding: .5rem;
    }
}
.testimonialsButtonLeft:hover, .testimonialsButtonRight:hover {
    background-color: var(--flavorColor);
    color: white;
}

.testimonialsButtonLeft {
    z-index: 10;
    position-area: left center;
    translate:  0rem;
}

.testimonialsButtonRight {
    z-index: 10;
    position-area: right center;
    
}

.testimonial1, .testimonial2, .testimonial3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-shrink: 0;
    width: 75dvw;
    content-visibility: auto;
    contain-intrinsic-size: 100dvh;
}

.testimonial1 img, .testimonial2 img, .testimonial3 img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: .25rem solid var(--flavorColor);
    position: relative;
    left: 1rem;
    top: 4rem;
}

.testimonial1 p, .testimonial2 p, .testimonial3 p {
    background-color: #e9e9e9;
    padding: 5rem 1rem 1rem 1rem;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

@media (orientation: portrait) and (max-width: 768px) {
    .testimonial1, .testimonial2, .testimonial3 {
        width: 70dvw;
        p {
            font-size: .8rem;
        }
    }
}
