/* =========================================
   LAYOUT MODULES
   Header, Navigation, Main, Footer
   ========================================= */

/* Header */
header {
    grid-area: header;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

@media (orientation: portrait) and (max-width: 768px) {
    header {
        justify-content: space-between;
    }
}

.mainPageButton {
    font-size: 1rem;
}

header span img {
    width: .5rem;
    position: relative;
    filter: hue-rotate(var(--hueRotation));
}

header button {
    display: flex;
    cursor: pointer;
    height: 1rem;
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    zoom: 1;
}

/* Navigation */
nav {
    display: flex;
    gap: 1.5rem;
}

nav .hrline {
    margin-top: .2rem;
    height: .1rem;
    width: 0; 
    background-color: var(--flavorColor);
    border: 0;
    transition: all 0.3s ease-in-out;
    animation: renderLeftLine .3s ease-in-out;
}

nav button {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: transparent;
    border: none;
}

nav button:hover + .hrline {
    width: 100%;
    animation: renderLeftLine .3s ease-in-out;
}

nav button:hover {
    color: var(--flavorColor);
}

@media (orientation: portrait) and (max-width: 768px) {
    nav {
        display: none;
    }
}

.navButtons {
    zoom: 1.25;
    margin-top: .5rem;
}

.options {
    display: flex;
    gap: 1rem;
}

.options svg {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.options svg:hover {
    color: var(--flavorColor);
}

.optionsButton {
    display: none;
    anchor-name: --optionsButton;
}

@media (orientation: portrait) and (max-width: 768px) {
    .optionsButton {
        display: block;
    }
    
    .HomeButton, .AboutButton, .ProjectsButton, .ContactsButton, .TestimonialsButton {
        display: none;
    }
}

.projectsList {
    display: none;
    flex-direction: column;
    background-color: #e9e9e9;
    border-radius: .5rem;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    position-anchor: --projectsButton;
    position-area: bottom;
    top: 4.5rem;
    right: 2rem;
    animation: renderRight .3s ease-in-out;
    z-index: 1;
}

.projectsList button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    zoom: 1.5;
}

.projectsList button:hover {
    color: var(--flavorColor);
}

/* Main */
main {
    grid-area: main;
    height: fit-content;
    width: 100%;
    
}

/* Footer */
footer {
    grid-area: footer;
    padding: 2rem;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.footerNavigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.footerNavigation p {
    text-decoration: underline;
    text-underline-offset: .5rem;

    text-decoration-color: var(--flavorColor);
}

.footerNavigation button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 1rem;
}

.footerNavigation button:hover {
    color: var(--flavorColor);
    background-color: transparent;
}

